body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex; /* Use flexbox for alignment */
    justify-content: space-between; /* Space between logo and links */
    align-items: center; /* Center items vertically */
    background-color: #68A014; /* Dark background */
    padding: 15px; /* Padding around navbar */
}

.logo img {
    height: 40px; /* Adjust logo size */
    border-radius:6px;
}

.nav-links {
    display: flex; /* Align links in a row */
    border-radius:6px;

}

.nav-links a {
    color: #F2F2F2; /* White text color */
    text-align: center; /* Centered text */
    padding: 14px 20px; /* Padding */
    text-decoration: none; /* Remove underline */
    border-radius:6px;

}

.nav-links a:hover {
    background-color: #ddd; /* Light background on hover */
    color: black; /* Black text on hover */
}

.container {
    width: 90%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 20px;
}

/* Success Cases */
#success {
    background-color: #ffffff;
    padding: 60px 0;
    text-align: center;
}

#success h2 {
    font-size: 2.5rem;
    margin-bottom: 40px;
}

.case {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    max-width: 700px;
    margin: 10px auto;
    text-align: left;
}

.case h3 {
    color: #000000;
    font-size: 1.5rem;
    margin-bottom: 10px;
    text-align: center;
}

.case img {
    display: block;
    margin: 20px auto; 
    max-width: 100%;    
    height: auto;   
    border-radius: 10px;
}
/* Footer */
footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
}

footer a {
    color: #68A014;
    text-decoration: none;
    margin: 0 10px;
}

footer a:hover {
    text-decoration: underline;
}

