body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex; /* Use flexbox for alignment */
    justify-content: space-between; /* Space between logo and links */
    align-items: center; /* Center items vertically */
    background-color: #68A014; /* Dark background */
    padding: 15px; /* Padding around navbar */
}

.logo img {
    height: 40px; /* Adjust logo size */
    border-radius:6px;
}

.nav-links {
    display: flex; /* Align links in a row */
    border-radius:6px;

}

.nav-links a {
    color: #F2F2F2; /* White text color */
    text-align: center; /* Centered text */
    padding: 14px 20px; /* Padding */
    text-decoration: none; /* Remove underline */
    border-radius:6px;

}

.nav-links a:hover {
    background-color: #ddd; /* Light background on hover */
    color: black; /* Black text on hover */
}
